@import 'jquery.mCustomScrollbar.min.css';

@font-face {
    font-family: 'Awesome Solid';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
        url(../fonts/fa-solid-900.woff2) format('woff2'),
        url(../fonts/fa-solid-900.woff) format('woff'),
        url(../fonts/fa-solid-900.ttf) format('truetype'),
        url(../fonts/fa-solid-900.svg#fontawesome) format('svg');
}

@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/consolas.eot);
    src: url(../fonts/consolas.eot?#iefix) format('embedded-opentype'),
        url(../fonts/consolas.woff2) format('woff2'),
        url(../fonts/consolas.woff) format('woff'),
        url(../fonts/consolas.ttf) format('truetype'),
        url(../fonts/consolas.svg#fontawesome) format('svg');
}

* { box-sizing:border-box; margin:0; outline:none; padding:0; touch-action:pan-y; }

body { background:#f6f6f9; background-size:cover; color:#333; font:15px/24px Arial, Helvetica, sans-serif; }

.clr:after { clear:both; content:''; display:table; }

/**
 * Header
 */
header { height:60px; left:0; position:fixed; right:0; top:0; transition:top .3s; z-index:3; }
header.close { top:-60px; }
header > .box { height:100%; }
header > .box:before { background:#fff; bottom:0; box-shadow:0 1px 6px #999; content:''; display:block; left:0; opacity:1; position:absolute; right:0; top:0; transition:opacity .3s; }
header > .box .content { height:100%; margin:0 20px; position:relative; }
header > .box .content .logo { float:left; height:100%; margin:0 30px 0 0; padding:15px 0; }
header > .box .content .logo img { display:block; height:100%; }
header > .box .content:after { clear:both; content:''; display:table; }
header nav { float:right; height:100%; }
header nav > .box > ul { height:100%; }
header nav > .box > ul > li { float:left; height:100%; list-style:none; margin:0 40px 0 0; position:relative; }
header nav > .box > ul > li:last-child { margin-right:0; }
header nav > .box > ul > li a { display:block; text-decoration:none; }
header nav > .box > ul > li a span { display:block; }
header nav > .box > ul > li > a { height:100%; padding:20px 0 16px; }
header nav > .box > ul > li > a span { color:#999; font-size:16px; }
header nav > .box > ul > li.parent.hover > a { border-bottom:3px solid #000; padding:20px 0 13px; }
header nav > .box > ul > li.parent.hover > a span { color:#000; }
header nav > .box > ul > li.hover > a span,
header nav > .box > ul > li.active > a span,
header nav > .box > ul > li.current > a span { color:#000; }
header nav > .box > ul > li > ul { background:#fff; border-radius:0 0 3px 3px; box-shadow:0 2px 5px #666; display:none; left:0; padding:10px 0 15px; position:absolute; top:100%; width:230px; }
header nav > .box > ul > li:nth-last-child(1) > ul,
header nav > .box > ul > li:nth-last-child(2) > ul { left:auto; right:0; }
header nav > .box > ul > li.hover > ul { display:block; }
header nav > .box > ul > li li { list-style:none; }
header nav > .box > ul > li li > a { padding:0 15px; }
header nav > .box > ul > li li > a span { color:#7d7d7d; line-height:40px; }
header nav > .box > ul > li li.hover > a span,
header nav > .box > ul > li li.active > a span,
header nav > .box > ul > li li.current > a span { color:#000; }
header nav > .box > ul:after { clear:both; content:''; display:table; }
header.hide-bg > .box:before { opacity:0; }
header.hide-bg nav > .box > ul > li > a span { color:#fff; }
header.hide-bg nav > .box > ul > li.parent.hover > a span { color:#000; }
header.hide-bg nav > .box > ul > li.hover > a span,
header.hide-bg nav > .box > ul > li.active > a span,
header.hide-bg nav > .box > ul > li.current > a span { color:#000; }

/**
 * Main
 */
main { min-height:600px; position:relative; z-index:1; }
main > aside { left:0; max-height:calc( 100% - 60px ); position:fixed; top:60px; transition:top .3s; width:260px; z-index:1; }
main > aside.top { max-height:100%; top:0; }
main > aside nav a { display:block; text-decoration:none; }
main > aside nav span { display:block; }
main > aside nav div > ul > li > a { border-bottom:1px solid #e0e0e0; padding:20px 20px 10px; }
main > aside nav div > ul > li > a span { color:#666; font-size:14px; font-weight:bold; }
main > aside nav div > ul > li li > a { border-bottom:1px solid #e0e0e0; padding:5px 20px; }
main > aside nav div > ul > li li > a span { color:#999; font-size:12px; font-style:italic; }
main > aside nav div > ul > li li.hover > a,
main > aside nav div > ul > li li.active > a,
main > aside nav div > ul > li li.current > a { background:#fff; }
main > aside nav div > ul > li li.active > a span,
main > aside nav div > ul > li li.current > a span { color:#333; font-style:normal; }

/**
 * Atricle contents
 */
article { background:#fff; box-shadow:0 0 5px #999; color:#333; margin-left:260px; min-height:800px; padding:70px 20px 80px; position:relative; z-index:2; }
article h1 { font-size:26px; font-weight:normal; line-height:32px; padding:28px 0 10px; }
article.has-content h1,
article.has-content .content { width:calc( 100% - 320px ); }
article .content h2 { font-size:22px; font-weight:normal; line-height:28px; padding:24px 0 20px; }
article .content h3 { font-size:18px; font-weight:normal; line-height:24px; padding:24px 0 16px; }
article .content a { color:#222; border-bottom:1px solid #545454; text-decoration:none; }
article .content a:hover { border:0; }
article .content p { margin:0 0 16px; }
article .content code { background:#f0f0f6; color:#666; font-family:Consolas, Arial, Helvetica, sans-serif; padding:4px 8px; }
article .content pre { background:#f0f0f6; margin:0 0 1rem; padding:15px 20px; }
article .content pre code { display:block; font:14px/21px Consolas, Arial, Helvetica, sans-serif; padding:0 0 5px; }
article .content ul { padding:0 0 15px 22px; }
article .content ul li { padding:0 0 5px; }
article .content ul li ul { padding:5px 0 5px 22px; }
article .content ol { padding:0 0 0 22px; }
article .content ol li { padding:0 0 5px; }
article .content table { width:100%; }
article .content .original-article { border-top:1px dotted #999; font-size:18px; margin:50px 0 80px; padding:30px 0 0; }
article .content .original-article .info:before { content:'\f071'; font-family:'Awesome Solid'; margin:0 10px 0 0; }
article .index { position:fixed; right:20px; top:60px; transition:top .3s; width:300px; }
article .index .caption { border-bottom:2px solid #ccc; font-size:18px; padding:20px 0 10px; }
article .index .reading-progress { max-height:calc( 100% - 60px - 54px ); position:fixed; right:20px; top:116px; transition:top .3s; width:300px; }
article .index.top { top:0; }
article .index.top .reading-progress { max-height:calc( 100% - 54px ); top:56px; }
article .index li { border-bottom:1px solid #e0e0e0; list-style:none; display:block; padding:8px 15px; position:relative; }
article .index li a { color:#666; display:block; position:relative; text-decoration:none; z-index:2; }
article .index li .progress { background:#f4f4f9; bottom:0; left:0; position:absolute; top:0; }
article .index li.t-h2 { border-top:1px solid #e0e0e0; }
article .index li.t-h3 a { font-size:10px; line-height:18px; }
article .index li.t-h4 a { font-size:8px; line-height:12px; }

/**
 * Footer
 */
footer { background:#333; color:#fff; font-size:10px; padding:10px 0; position:relative; z-index:2; }
footer .box { margin:0 20px; }
footer .box nav { float:left; }
footer .box .copyright { float:right; }
footer .box:after { clear:both; content:''; display:table; }

/**
 * Home page
 */
body.home > .info { left:0; overflow:hidden; position:fixed; right:0; top:0; z-index:0; }
body.home > .info .bg { position:relative; z-index:1; }
body.home > .info .bg img { display:block; width:100%; }
body.home > .info .content { align-items:center; bottom:0; color:#fff; display:flex; height:100%; left:0; justify-content:center; position:absolute; right:0; top:0; z-index:2; }
body.home > .info .content .box { margin:-30px 0 0; padding:0 20px; position:relative; text-align:center; }
body.home > .info .content h1 { font-size:32px; font-weight:normal; margin:0 0 45px; }
body.home > .info .content p { font-size:16px; }
body.home > main { background:#f6f6f6; display:block; margin:640px 0 0; width:100%; }
body.home > main .section { min-height:180px; position:relative; }
body.home > main .section .bg { opacity:.3; position:relative; z-index:1; }
body.home > main .section .bg img { display:block; width:100%; }
body.home > main .section .content { align-items:center; bottom:0; display:flex; height:100%; left:0; justify-content:center; position:absolute; right:0; top:0; z-index:2; }
body.home > main .section .content .box { margin:-30px 0 0; position:relative; width:1000px; }
body.home > main .section .content h2 { font-size:24px; font-weight:normal; margin:0 0 30px; }
body.home > main .section .content p { font-size:16px; padding:0 0 5px; }
body.home > main .section.dig .content .box { padding:0 20px 0 320px; text-align:right; }
body.home > main .section.codes .content .box { padding:0 320px 0 20px; text-align:left; }
body.home > main .section.exceptions .content .box { padding:0 20px 0 320px; text-align:right; }
body.home > main .section.about .content .box { padding:0 320px 0 20px; text-align:left; }



@media only screen and (max-width:768px) {

    header > .box .content { margin:0 15px; position:relative; }
    header .btn-nav { background:no-repeat; display:block; height:54px; position:absolute; right:-15px; text-align:center; top:2px; width:54px; }
    header .btn-nav:before {  color:#999; content:'\f0c9'; font:24px/54px 'Awesome Solid'; }
    header nav { bottom:0; float:none; position:fixed; right:0; top:0; width:0; }
    header nav.active { width:100%; }
    header nav > .bg { background:#000; bottom:0; left:0; opacity:.6; position:absolute; right:0; top:0; z-index:1; }
    header nav > .box { background:#f6f6f6; bottom:0; float:none; position:absolute; right:-100%; text-align:right; top:0; transition:right .5s; width:calc( 100% - 50px ); z-index:2; }
    header nav.active > .box { right:0; }
    header nav > .box .btn-close { background:no-repeat; display:inline-block; height:54px; right:2px; text-align:center; top:2px; width:54px; }
    header nav > .box .btn-close:before {  color:#a8acb1; content:'\f00d'; font:24px/54px 'Awesome Solid'; }
    header nav > .box > ul { border-top:1px solid #e0e0e0; text-align:left; }
    header nav > .box > ul > li { float:none; height:auto; margin:0; }
    header nav > .box > ul > li > a { background:#fff; border-bottom:1px solid #e0e0e0; padding:10px 10px 10px 20px; }
    header nav > .box > ul > li > a span,
    header.hide-bg nav > .box > ul > li > a span { color:#666; }
    header nav > .box > ul > li.active > a span,
    header nav > .box > ul > li.current > a span { color:#000; }
    header nav > .box > ul > li.parent.hover > a { border-bottom:1px solid #e0e0e0; padding:10px 10px 10px 20px; }
    header nav > .box > ul > li.parent.hover > a span { color:#000; }
    header nav > .box > ul > li > ul { background:#f3f3f9; border-radius:0; box-shadow:none; padding:0; position:static; width:auto; }
    header nav > .box > ul > li li > a { background:#f3f3f9; border-bottom:1px solid #e0e0e0; padding:8px 10px 5px 40px; }
    header nav > .box > ul > li li > a span { color:#7d7d7d; line-height:inherit; }
    header.hide-bg nav > ul > li > a span { color:#666; }
    header.hide-bg nav > ul > li.active > a span,
    header.hide-bg nav > ul > li.current > a span { color:#000; }

    main > aside { display:block; height:100%; max-height:100%; width:0; z-index:3; }
    main > aside.active { width:100%; }
    main > aside nav { background:#f6f6f6; box-shadow:0 1px 6px #999; height:100%; left:-266px; transition:left .5s; width:260px; z-index:2; }
    main > aside.active nav { left:0; }
    main > aside .bg { bottom:0; left:0; opacity:.6; position:absolute; right:0; top:0; z-index:1; }

    article { margin:0; padding:70px 12px 50px; }
    article .index { display:none; }
    article.has-content h1,
    article.has-content .content { width:auto; }
    article .original-article { padding:50px 0; }

    footer { text-align:center; }
    footer .box nav { float:none; }
    footer .box .copyright { float:none; }

    body.home > header { position:relative; top:auto; }
    body.home > header.close { top:auto; }
    body.home > .info { left:auto; position:relative; right:auto; top:auto; z-index:0; }
    body.home > .info .content .box { margin:0; }
    body.home > .info .content h1 { font-size:24px; font-weight:normal; margin:0 0 20px; }
    body.home > .info .content p { font-size:14px; }
    body.home > main { margin:0; }
    body.home > main .section { min-height:0; padding:40px 0 0; }
    body.home > main .section .bg { display:none; }
    body.home > main .section .content { position:relative; }
    body.home > main .section .content .box { margin:0; }
    body.home > main .section .content h2 { font-size:20px; margin:0 0 12px; }
    body.home > main .section .content p { font-size:14px; }
    body.home > main .section.dig .content .box { padding:0 20px; text-align:left; }
    body.home > main .section.codes .content .box { padding:0 20px; }
    body.home > main .section.exceptions .content .box { padding:0 20px; text-align:left; }
    body.home > main .section.about .content .box { padding:0 20px 80px; }

}