
* { box-sizing:border-box; margin:0; outline:none; padding:0; }

body { background:#f6f6f6; background-size:cover; color:#333; font:16px/26px Consolas, Arial, Helvetica, sans-serif; }

.clr:after { clear:both; content:''; display:table; }


/**
 * Header
 */
header { height:60px; left:0; position:fixed; right:0; top:0; z-index:3; }
header .box { height:100%; left:0; position:absolute; right:0; top:0; transition:top .3s; }
header.close .box { top:-100%; }
header .box:before { background:#fff; bottom:0; box-shadow:0 1px 6px #999; content:''; display:block; left:0; opacity:0; position:absolute; right:0; top:0; transition:opacity .3s; }
header.show-bg .box:before { opacity:1; }
header nav { height:100%; margin:0 auto; width:1280px; }
header nav > .logo { float:left; height:100%; margin:0 30px 0 0; padding:10px 0; }
header nav > .logo img { display:block; filter:grayscale(100%); height:100%; }
header nav > ul { float:right; height:100%; }
header nav > ul > li { float:left; height:100%; list-style:none; margin:0 40px 0 0; position:relative; }
header nav > ul > li:last-child { margin-right:0; }
header nav > ul > li a { display:block; text-decoration:none; }
header nav > ul > li a span { display:block; }
header nav > ul > li > a { height:100%; padding:20px 0 3px; }
header nav > ul > li > a span { color:#545454; font-size:16px; }
header nav > ul > li.parent.hover > a { border-bottom:3px solid #000; padding:20px 0 0; }
header nav > ul > li.parent.hover > a span { color:#000; }
header nav > ul > li.hover > a span,
header nav > ul > li.active > a span,
header nav > ul > li.current > a span { color:#000; }
header nav > ul > li > ul { background:#fff; border-radius:0 0 3px 3px; box-shadow:0 2px 5px #666; display:none; left:0; padding:10px 0 15px; position:absolute; top:100%; width:230px; }
header nav > ul > li:nth-last-child(1) > ul,
header nav > ul > li:nth-last-child(2) > ul { left:auto; right:0; }
header nav > ul > li.hover > ul { display:block; }
header nav > ul > li li { list-style:none; }
header nav > ul > li li > a span { color:#7d7d7d; line-height:40px; padding:0 15px; }
header nav > ul > li li.hover > a span,
header nav > ul > li li.active > a span,
header nav > ul > li li.current > a span { color:#000; }
header nav > ul:after { clear:both; content:''; display:table; }

/**
 * Main
 */
main { display:flex; margin:70px auto 40px; position:relative; width:1280px; z-index:2; }

/**
 * Footer
 */
footer { background:#222; color:#fff; font-size:11px; padding:10px 0; position:relative; z-index:1; }
footer .box { margin:0 auto; width:1280px; }
footer .box nav { float:left; }
footer .box .copyright { float:right; }
footer .box:after { clear:both; content:''; display:table; }

/**
 * Atricle contents
 */
article { background:#fff; border-radius:3px; box-shadow:0 0 5px #999; flex:1; padding:20px; }
article h2 { color:#43bec5; font-size:28px; font-weight:normal; line-height:32px; padding:28px 0 20px; }
article h3 { color:#43bec5; font-size:24px; font-weight:normal; line-height:28px; padding:24px 0 20px; }
article h4 { color:#43bec5; font-size:20px; font-weight:normal; line-height:24px; padding:16px 0 16px; }
article a { color:#379aa0; border-bottom:1px solid #379aa0; text-decoration:none; }
article a:hover { border:0; }
article p { margin:0 0 16px; }
article code { background:#f4f4f4; padding:4px 8px; }
article pre { background:#f4f4f4; margin:0 0 1rem; padding:15px 20px; }
article pre code { display:block; font:14px/21px Consolas, Arial, Helvetica, sans-serif; padding:0 0 5px; }
article ul { padding:0 0 15px 22px; }
article ul li { padding:0 0 5px; }
article ol { padding:0 0 0 22px; }
article ol li { padding:0 0 5px; }
article table { width:100%; }
article table thead th {}
article table tbody td {}

/**
 * Home page
 */
body.home > .info { left:0; position:fixed; right:0; top:0; z-index:0; }
body.home > .info .bg { left:0; position:absolute; right:0; top:0; z-index:1; }
body.home > .info .bg img { display:block; width:100%; }
body.home > .info .content { color:#fff; margin:200px auto 0; position:relative; text-align:center; width:800px; z-index:2; }
body.home > .info .content .box { position:relative; }
body.home > .info .content h1 { font-size:32px; font-weight:normal; margin:0 0 45px; }
body.home > .info .content p { font-size:16px; }
body.home > main { background:#f6f6f6; display:block; margin:600px 0 0; width:100%; }
